*{
    margin: 0;
    padding: 0;
}

.topmatch{
    height: 40px;
    width: 40px;
}

.fakeimg{
    height: 350px;
}

.fakeimg img{
    height: 100%;
    width: 100%;
}

.fakeimg2{
    height: 200px;
}

.fakeimg2 img{
    height: 200px;
    width: 100%;
}

.onematch:hover{
    cursor: pointer;
}

.topright{
    height: 50px;
    width: 50px;
    position: absolute;
    right: 0px;
    top: -20px;
}

.topright img{
    border-radius: 50%;
    height: 100%;
    width: 100%;
}

@media(max-width: 425px){
    .jumbotron img{
        width : 70px; 
        height: 70px;
        
    }
    .jumbotron h1{
        font-size: 27px;
        text-align: center;
        text-decoration: underline;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .jumbotron p{
        text-align: center;
        font-size: 13px;
    }
    .fakeimg{
        height: 200px;
    }
    .topmatch{
        height: 25px !important;
        width: 25px !important;
    }
}

